.div-con-fondo{
    background-image: url(img/IA.png);
    background-size: cover;
    }
.Login_seccion{
    font-family:sans-serif;
    display: block;
    margin: 0 auto;
    width: 200px; 
    margin-bottom:30px;
    background-color:#F148A2;
    color: #333;
    align-items: center;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-family: inherit;


}